.artistListItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 18px;

  width: 255px;
  height: 50px;
}

.artistListItem:hover {
 background: #141A22;
}

.artistListItemLink {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 8px;
  gap: 18px;
  text-decoration: none;
  width: 100%;
  height: 100%;
}

.artistAvatar {
  width: 50px;
  aspect-ratio: 1 / 1;
  height: auto;               
  border-radius: 50%;
  object-fit: cover;
  display: block;
}

.artistInfo {
  display: flex;
  flex-direction: column;
  min-width: 0;
  flex: 1 1 auto;
}

.artistTitle{
  margin: 0;

  flex: 1 1 auto;
  min-width: 0;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #ADCFD8;
}

.artistSubtitle {
  margin: 0;
  width: 60px;
  height: 14px;

  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;

  color: #7E9CA1;

  flex: none;
  order: 1;
  flex-grow: 0;
}