.podcastCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 21px 20px;
  gap: 18px;

  width: 340px;
  height: 450px;

  background: rgba(24, 43, 73, 0.5);
  border-radius: 10px;
}

.cardLink {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  row-gap: 16px;
  text-decoration: none;

  cursor: pointer;
}

.headerCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
    
  width: 299px;
  height: auto;
}

.titlePodcast {
  width: 299px;
  height: auto;

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;

  display: -webkit-box;        
  -webkit-line-clamp: 2;      
  line-clamp: 2;  
  -webkit-box-orient: vertical;
  overflow: hidden;
  overflow-wrap: anywhere;

  min-width: 0;
}

.subtitlePodcast {
    width: 299px;
    height: auto;

    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;

    white-space: nowrap;            
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-wrap: anywhere;

    color: #FFFFFF;
}

.coverPodcast {
    width: 216px;
    height: 216px;
    border-radius: 7px;
    object-fit: cover;

    display: block;
    margin: 0 auto;
}

.descriptionPodcast {
    width: 297px;
    height: auto;

    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;

    color: rgba(172,186,216,1);
    -webkit-text-fill-color: rgba(172,186,216,1);
    margin: 0;
    
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;   
    line-clamp: 4;                
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-wrap: anywhere;
}

.descriptionPodcast .descText,
.subtitlePodcast .episodeText
{ 
    color: rgba(172, 186, 216, 1);
}

.descriptionPodcast .date,
.descriptionPodcast .duration {
  color: #fff;
  -webkit-text-fill-color: #fff;
}