.mainPageFooter {
  position: absolute;
  width: 1900px;
  height: 578px;
  left: 0px;
  top: var(--footer-top, auto);

  box-sizing: border-box;
  background: rgba(12, 12, 12, 0.2);

  border: 0.5px solid rgba(166, 218, 255, 0.6);
  border-radius: 15px 15px 2px 2px;
}

.page--landing .mainPageFooter { top: 6806px; }
.page--main .mainPageFooter { top: 3204px; }
.page--media .mainPageFooter { top: 2639px; }
.page--favTracks .mainPageFooter { top: 2393px; }

.footerInner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 61px;

  position: absolute;
  width: 1498px;
  height: 338px;
  left: 211px;
  top: 94px;
}

.footerTop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 515px;

  width: 1228.96px;
  height: 229px;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.footerContacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 0px;

  width: 464.96px;
  height: 133.43px;

  flex: none;
  order: 1;
  flex-grow: 0;
}

.footerContactsList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 32px;              
  row-gap: 24px;                  
  align-items: center;
  padding: 0;
  width: 464.96px;
}

.footerContactsList li:first-child {
  grid-column: 1 / -1;
}

.footerContactsItem {
  display: inline-flex;
  align-items: center;
  gap: 15px;          
  color: #fff;
  white-space: nowrap; 
}

.footerContactsItem img {
  margin-top: 1px;
  flex: 0 0 auto;
}

.footerItemText {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}

.footerSocialList {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 14px;

  width: 138px;
  height: 24px;

  list-style: none;

  flex: none;
  order: 1;
  flex-grow: 0;
}

.footerSocialLink img {
  width: 24px;
  height: 24px;
  margin-top: 1px;
  flex: 0 0 auto;
}

.footerDivider {
  width: 1498px;
  height: 0px;

  border: 1px solid rgba(166, 218, 255, 0.3);

  flex: none;
  order: 1;
  flex-grow: 0;
}

.footerBottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 50px;

  width: 517px;
  height: 19px;

  flex: none;
  order: 2;
  flex-grow: 0;
}

.footerLinks {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 50px;

  list-style: none;
  margin: 0;
  padding: 0;
  
  width: 517px;
  height: 19px;
}

.footerLinkText {
  width: 59px;
  height: 19px;

  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;

  color: #FFFFFF;

  text-decoration: none;
}
